{% extends "base.html" %}
{% block title %} Menu {% endblock %}
{% block body %}
<div class="container">
    <h1>Welcome to our website</h1>
    <p>Choose the service wou want...</p>

    <div class="row">
        <div class="col-4">
            <form action='search_flight'>
                <p>Search a flight</p>
                <button type="submit" class="btn btn-outline-info">Search</button> 
            </form>
            <br>
            <form action='book_ticket'>
                <p>Book a ticket</p>
                <button type="submit" class="btn btn-outline-info">Book</button> 
            </form>
            <br>
            <form action='show_booking'>
                <p>Show booking</p>
                <button type="submit" class="btn btn-outline-info">Show</button> 
            </form>
        </div>
        <div class="col-4">
            <form action='cancel_booking'>
                <p>Cancel a booking</p>
                <button type="submit" class="btn btn-outline-info">Cancel</button> 
            </form>
            <br>
            <form action='show_all_bookings'>
                <p>Show all bookings</p>
                <button type="submit" class="btn btn-outline-info">Show</button> 
            </form>
            <br>
            <form method=POST action='show_bookings_cost'>
                <p>Show the priciest and the cheapest booking</p>
                <button type="submit" class="btn btn-outline-info">Show</button> 
            </form>
        </div>
        <div class="col-4">
            <form action='show_bookings_destination'>
                <p>Show all bookings for a destination</p>
                <button type="submit" class="btn btn-outline-info">Show</button> 
            </form>
            <br>
            <form method=POST action='deactivate_account'>
                <p>Deactivate account</p>
                <button type="submit" class="btn btn-outline-danger">Deactivate</button> 
            </form>
            <br>
            <form action='logout'>
                <p>Logout</p>
                <button type="submit" class="btn btn-outline-danger">Logout</button> 
            </form>
        </div>
    </div>
    <br>
</div>
{% endblock %}