{% extends "base.html" %}
{% block title %} Menu {% endblock %}
{% block body %}
<div class="container">
    <h1>Welcome to the admin menu!</h1>
    <p>Choose the service wou want...</p>

    <div class="row">
        <div class="col-4">
            <form action='create_admin'>
                <p>Create a new admin</p>
                <button type="submit" class="btn btn-outline-info">Create</button> 
            </form>
            <br>
            <form action='create_flight'>
                <p>Create a flight</p>
                <button type="submit" class="btn btn-outline-info">Create</button> 
            </form>
        </div>

        <div class="col-4">
            <form action='update_flight'>
                <p>Update the price of a flight</p>
                <button type="submit" class="btn btn-outline-info">Update</button> 
            </form>
            <br>
            <form action='delete_flight'>
                <p>Delete a flight</p>
                <button type="submit" class="btn btn-outline-info">Delete</button> 
            </form>
            <br>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <form action='logout'>
                <p>Logout</p>
                <button type="submit" class="btn btn-outline-danger">Logout</button> 
            </form>
        </div>
    </div>
</div>
{% endblock %}